body{
    background-image: url("./dexter-serie\ \(1\).jpg");
    background-size: cover;
}
.conteudo{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
.cartao{
    background-color: #8D1111;
    margin: 1rem 1rem;
width: 412px ;
    flex-basis: calc(50% - 6rem);
    text-align: center;
}
